body {
    padding: 20px;
    box-sizing: border-box;
    margin: auto;
    font-family: 'Noto Sans', sans-serif;
    background-color: #fcfcfc;
    margin-bottom: 25px;
}

h1 {
    color: #4a4a4a;
    text-align: center;
}


#grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}


#grid-item-employee {
    box-sizing: border-box;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: center;

}

.info {
    text-align: left;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 15px;
}

.name {
    font-size: 1.5em;
    color: #404a51;
}

.email,
.city {
    font-size: 1em;
    margin: 8px 0;
    color: #83898d;
}


/* GH */
/* ===================================== 
   Modal
======================================== */

.modal-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}

.modal {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    height: 400px;
    margin: auto;
    padding-bottom: 15px;
    background: rgba(255, 255, 255, 1);
    border-radius: 0.25em;
    border: 1px solid rgba(100, 100, 100, 0.3);
    transition: .4s ease-out;
}

.modal-info-container {
    padding:30px;
    text-align: center;
}

.modal-img {
    border-radius: 50%;
}

.modal-name {
    color: #404a51;
    font-size: 1.5em;
}


.modal-text {
    color: #83898d;
    font-size: 1em;
}


@media (min-width:768px) {

    #grid-container {
        grid-template-columns: 1fr 1fr;
    }

    h1 {
        text-align: left;
    }
}

@media (min-width:1024px) {
    body {
        max-width: 1300px;
    }

    #grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

   
}